<ul class="tabmenu">
    <li data-tab="resources" class="tab"><b><%= LANGUAGE.getLocalizedString('empire.tab_resources') %></b></li>
    <li data-tab="buildings" class="tab"><b><%= LANGUAGE.getLocalizedString('empire.tab_buildings') %></b></li>
    <li data-tab="military"  class="tab"><b><%= LANGUAGE.getLocalizedString('empire.tab_military') %></b></li>
    <li data-tab="espionage" class="tab"><b><%= LANGUAGE.getLocalizedString('empire.tab_espionage') %></b></li>
</ul>
<div id="tabReport">

</div>