<div class="contentBox01h" id="emailInvalidWarning">
    <h3 class="header">Help!</h3>
    <div class="content">
        <p class="red bold warning red_box">

            <%= lget('donate.patreon_text') %>

        </p>
        <div class="centerButton">
            <%= include('patreon/button.ejs') %>
        </div>
    </div>
    <div class="footer"></div>
</div>