<div class="contentBox01h donate" id="emailInvalidWarning">
    <h3 class="header">Help!</h3>
    <div class="content">
        <p class="red bold warning red_box" style="font-size: 14px;">

            <%= lget('donate.text_1') %><br/>
            <%= lget('donate.text_2') %><br/>
            <%= lget('donate.text_3') %>

        </p>

        <%= include('patreon/button.ejs') %>
    </div>
    <div class="footer"></div>
</div>