<div class="ikaeasy_watcher" id="ikaeasy_watcher_<%= data.build.position %>">
    <div class="ikaeasy_watcher_tooltip"></div>
    <div class="ikaeasy_watcher_circle">
        <span><%= data.build.level %></span>
        <svg class="ikaeasy_watcher_circle-progress" width="40" height="40">
            <circle class="ikaeasy_watcher_circle-progress__circle"
            stroke="green" 
            stroke-width="3" 
            fill="transparent" 
            r="13" 
            cx="18" 
            cy="18"></circle>
          </svg>
    </div>
</div>