<li class="tab" id="js_tab_diplomacyMembers" onclick="ajaxHandlerCall('?view=diplomacyAllyMemberlist&templateView=diplomacyAlly');">
    <b class="tab_diplomacyMembers">
        <%- LANGUAGE.getLocalizedString('diplomacy_ally_members') %>
    </b>
</li>