<div class="ikaeasy-window <%= data.mainClass || '' %>" style="<%= (data.width) ? `width: ${Utils.handleSize(data.width)}` : '' %>">
    <div class="ikaeasy-window-header">
        <h3 id="js_mainBoxHeaderTitle"><%- LANGUAGE.getLocalizedString(data.title) %></h3>
        <div class="ikaeasy-window-close"></div>
    </div>
    <div class="ikaeasy-window-body">
        <div class="ikaeasy-window-content">
            <div>

            </div>
        </div>
    </div>
    <div class="ikaeasy-window-footer"></div>
</div>