<h4 class="bold center">
    <%- LANGUAGE.getLocalizedString('island_mine_required') %>:
</h4>
<ul class="resources">
    <li class="<%= data.res %>">
        <%= num(data.need - data.have) %>
    </li>
</ul>