<div class="ikaeasy_military_res_total unit_detail_icon icon40 bold center resource_icon" style="background-image: url(<%= data.db.images.resources.all %>)" title="<%= num(data.total, '0', false) %>">
    <%= numK(data.total) %>
</div>