<tr>
    <td>
        <%- LANGUAGE.getLocalizedString('safehouse_warehouse_level') %>
    </td>
    <td>
        <input type="number" min="0" max="40" class="js-warehouse textfield" value="0" style="width:30px;"/>
    </td>
    <td class="js-result-1"></td>
</tr>
<tr>
    <td>
        <%- LANGUAGE.getLocalizedString('safehouse_is_idle') %>
    </td>
    <td>
        <input type="checkbox" class="js-idle checkbox  radio image floatleft" />
    </td>
    <td class="js-result-2"></td>
</tr>