<div class="ikaeasy_resource">
    <a class="button plus_minis ikaeasy_transport_button_trigger" data-sum="-500" href="#">-</a>
    <a class="button plus_minis ikaeasy_transport_button_trigger" data-sum="+500" href="#">+</a>
    <a class="button ikaeasy_transport_button_trigger" data-sum="+1000" href="#" title="+1000">+1k</a>
    <a class="button ikaeasy_transport_button_trigger" data-sum="+5000" href="#" title="+5000">+5k</a>
    <a class="button ikaeasy_transport_button_trigger" data-sum="+50000" href="#" title="+50000">+50k</a>

    <%
        if (data.custom) {
            _.each(data.custom, function(custom) {
                print(`<a class="button ikaeasy_transport_button_trigger" data-sum="${custom.val}" href="#">${custom.text}</a>`);
            });
        }
    %>
</div>