<ul class="dynamic main_dynamic">
    <li class="dynamic_panel">
        <a href="#toggle" tabindex="0" class="dynamic_title">
            <%= data.title %><span class="indicator"></span>
        </a>
        <div class="dynamic_content">
            <div class="dynamic"></div>
        </div>
    </li>
</ul>