<li class="slot<%= data.index %> ikaeasy_slot <%= data.transition %>">
    <div class="image <%= data.image %>"></div>
    <div class="name">
        <span class="namebox"><%= data.title %></span>
    </div>
</li>