<li class="accordionItem <%= data.classes %>">
    <a class="accordionTitle active">
        <%- data.title %>
        <span class="indicator"></span>
    </a>
    <div class="accordionContent">
        <div class="ikaeasy_sidebar_padding_content">
            <%= data.content %>
        </div>
    </div>
</li>